@import "https://fonts.googleapis.com/css?family=Chivo|Rubik";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.wrap, .splash-content {
  margin-left: auto;
  margin-right: auto; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: 'Chivo', sans-serif; }

nav {
  padding-right: 1%;
  display: flex;
  justify-content: flex-end; }
  nav a {
    text-decoration: none;
    color: lightgrey;
    text-transform: uppercase;
    padding: 2%; }
  nav a:hover {
    text-decoration: underline; }

li {
  margin-bottom: 5%; }

@media screen and (max-width: 990px) {
  .main-menu {
    display: none; } }
.nav-small {
  display: none;
  position: absolute;
  top: 3%;
  left: 88%; }
  @media screen and (max-width: 990px) {
    .nav-small {
      display: block; } }
  @media screen and (max-width: 600px) {
    .nav-small {
      position: absolute;
      top: 2%;
      left: 83%; } }

.burger {
  color: white;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out; }
  .burger::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }

.burger-check {
  display: none; }

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out; }
  .burger-check:checked ~ .burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .burger-check:checked ~ .burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }

.navigation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out; }

.burger-check:checked ~ .navigation {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  margin-top: 2%;
  background: transparent;
  border: 2px solid lightgrey;
  font-size: 1em;
  color: lightgrey;
  padding: 1%;
  outline: none;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.see-work {
  color: white;
  border: 2px solid white;
  font-size: 1.5em;
  padding: 2%; }

.move-hamburger {
  text-align: right;
  margin-right: 3%;
  z-index: 1000000; }

.js-menu-trigger {
  border: none; }

.sliding-panel-content {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 220px;
  background: white;
  opacity: 0.7;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(-220px);
  transition: all 0.25s linear;
  z-index: 999999; }
  .sliding-panel-content ul {
    padding: 0;
    margin: 0; }
  .sliding-panel-content li {
    list-style: none; }
  .sliding-panel-content li a {
    border-bottom: #4A4545;
    color: #4A4545;
    display: block;
    padding: 1.5em;
    text-decoration: none; }
    .sliding-panel-content li a:focus {
      background-color: #E6C0BD; }
    .sliding-panel-content li a:hover {
      background-color: #E6C0BD;
      color: #fff; }
  .sliding-panel-content.is-visible {
    transform: translateX(0); }

.sliding-panel-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 999998; }
  .sliding-panel-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

.sliding-panel-button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 10px 16px;
  position: relative; }
  .sliding-panel-button img {
    height: 1.3em; }

.column:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.column:hover .description {
  opacity: 0.6;
  transition: 1s ease; }

.shrink:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.see-work:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }

.see-work {
  -webkit-animation: buttonFadeIn 600s ease-in-out;
  -moz-animation: buttonFadeIn 600s ease-in-out;
  -ms-animation: buttonFadeIn 600s ease-in-out;
  animation: buttonFadeIn 600s ease-in-out;
  animation-delay: 3s; }

header {
  background: url("../img/port-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  text-align: center; }
  header .header-text {
    padding: 13% 0; }
  header h1 {
    color: lightgrey;
    font-size: 3em; }

.wrap {
  width: 100%; }

.column {
  position: relative;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin: 0;
  overflow: hidden;
  width: 50%; }
  .column:last-child {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      min-width: 400px; } }
  .column a {
    color: white; }
  .column img {
    width: 100%;
    max-width: 110%;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease; }
  .column .description {
    background: black;
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .column .description p {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      font-size: 2em; }

footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 3%; }
  footer a {
    padding: 2%;
    color: white; }
    @media screen and (max-width: 600px) {
      footer a {
        padding: 4%; } }

body {
  background: #E6C0BD; }

.splash-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 85%;
  width: 70%; }
  .splash-content h1, .splash-content h2 {
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 5em;
    line-height: 1.3em; }

/*# sourceMappingURL=main.css.map */
