@import "home";
@import "work";
@import "contact";

body {
  background: #E6C0BD;
}


.splash-content {
  @extend %center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 85%;
  width: 70%;
  & h1, h2 {
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 5em;
    line-height: 1.3em;
    // text-shadow: 1px 1px #D8D8D8;
  }
}
