footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
  // border: 2px solid tomato;
  & a {
    padding: 2%;
    color: white;
    @media #{$brk-point-small} {
      padding: 4%;
    }
  }
}
