footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
  background: #556c80;
  & a {
    padding: 2%;
    color: lightgrey;
    @media #{$brk-point-small} {
      padding: 4%;
    }
  }
}
