.wrap {
  width: 100%;
  @extend %center;
  height: 500em;
}

.column {
  position: relative;
  @include col-gutter(6, 0);
  overflow: hidden;
  width: 50%;
  @media #{$brk-point-small} {
    width: 100%;
    min-width: 400px;
  }

  & img {
    width: 100%;
    max-width: 110%;
    -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -ms-transition: all 2s ease;
            transition: all 2s ease;
  }
  & .description {
    background: black;
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    & p {
      @include center-things(50%);
      font-size: 2em;
    }
  }
}
