header {
  background: url("../img/port-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  text-align: center;
  & .header-text {
    padding: 13% 0;
  }
  & h1 {
    color: lightgrey;
    font-size: 3em;
  }
  & a {
    text-decoration: none;
    color: lightgrey;
    text-transform: uppercase;
    padding: 2%;
  }
  & a:hover {
    text-decoration: underline;
  }
}

nav {
  padding-right: 1%;
  display: flex;
  justify-content: flex-end;
}

li {
  margin-bottom: 5%;
}

@media #{$brk-point-medium} {
  .main-menu {
    display: none;
  }
}

.nav-small {
  display: none;
  position: absolute;
  top: 3%;
  left: 88%;
  @media #{$brk-point-medium} {
    display: block;
  }
  @media #{$brk-point-small} {
    position: absolute;
    top: 2%;
    left: 83%;
  }
}


// Burger menu button
$burger--thickness: 4px;
.burger {
  color: lightgrey;
	$width: 28px;
	display: inline-block;
  border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;

	border-bottom: $burger--thickness solid currentColor;
	width: $width;

	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out;

	// Fix for extra space in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&:before {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
	}

	&:after {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
	}
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: $burger--thickness solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;

  &:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

  &:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
}

// * * * Navigation * * *
$navigation__transition: max-height 0.5s ease-in-out;

.navigation {
  overflow: hidden;
  max-height: 0;

  transition: $navigation__transition;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;

  transition: $navigation__transition;
}
