header {
  background: url("../img/port-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 30em;
  text-align: center;
  & h1 {
    @extend %center;
    padding-top: 13%;
    display: block;
    color: lightgrey;
    font-size: 3em;
  }
  & a {
    text-decoration: none;
    color: lightgrey;
    text-transform: uppercase;
    padding: 2%;
  }
}

nav {
  display: flex;
  justify-content: flex-end;
}
