// border box
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// grid cloumns
@mixin col-gutter($cols, $gutter:null) {
  @include span-columns($cols);
  margin: $gutter;
  // height: 100%;
}

// center things
@mixin center-things($top:null) {
  position: absolute;
  top: $top;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
