// border box
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// grid cloumns
@mixin col-gutter($cols, $gutter:null) {
  @include span-columns($cols);
  margin: $gutter;
  // height: 100%;
}

// center things
@mixin center-things($top:null) {
  position: absolute;
  top: $top;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

// buttons
@mixin button-styles {
  margin-top: 2%;
  background: transparent;
  border: 2px solid lightgrey;
  font-size: 1em;
  color: lightgrey;
  padding: 1%;
  outline: none;
}

// colored overlay on an image
// @mixin colored-background-image($path) {
//   position: relative;
//   background-image: url($path);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   z-index: -2;
// }
//
// @mixin colored-background-overlay($color) {
//   background-color: $color;
//   opacity: $background-opacity;
//   position: absolute;
//   content: " ";
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
// }
//
// @mixin colored-background-image-overlay($color, $path) {
//   @include colored-background-image($path);
//   &:before {
//     @include colored-background-overlay($blue);
//   }
// }
