// border box
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// grid cloumns
@mixin col-gutter($cols, $gutter:null) {
  @include span-columns($cols);
  margin: $gutter;
  // height: 100%;
}

// center things
@mixin center-things($top:null) {
  position: absolute;
  top: $top;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

// buttons
@mixin button-styles {
  margin-top: 2%;
  background: transparent;
  border: 2px solid lightgrey;
  font-size: 1em;
  color: lightgrey;
  padding: 1%;
  outline: none;
}
